

body { 
  font-family: arial;
  text-align: center ;
background-color: #34495e ;
margin:0 ;
color : white ;
}


.line-transparent { 
  background : white ;
  width  :100% ;
  display : flex ;
   justify-content: space-between;
   align-items: center;
 }
 
 .line-light {
  height: 5px;
  width: 50%;
  background: #2c3e50;
}

.line-medium {
  height: 5px;
  width: 50%;
  background: #CCFF00;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: white ;
} 


h1 {
  font-size: 48px;
  font-family: 'Bebas Neue', cursive; 
  font-weight: bolder;
  text-align: center ;
  color : #CCFF00;
}

h2, h3, h4 {
  font-size: 28px;
  font-family: arial ;
  text-align: center ;
  color: white;
}

p {
  font-size: 26px;
  text-align: center ;
  color : white ;
}


ul, ol {
	font-size: 20px;
	text-align: left ;
  color : white ;

}

h5 {
  font-size: 32px
  text-align: left ;
 } 

h6 {
  font-size: 28px
  text-align: center ;
 } 


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #34495e;
}


.menu {
  display: flex;
  justify-content: flex-end;
}

 
.item {
  margin: 10px 30px;
  color: white;

}

 
.item:hover {
  color: #CCFF00;

}


.maps {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cadre2{
  border: solid 2px white;
  border-radius: 1px;
  box-shadow: 2px 2px 2px 2px white;
}

