


body { 
  font-family: arial;
  text-align: center ;
background-color: #34495e ;
margin:0 ;
color : white ;
}

h1 {
  font-size: 32px;
  font-family: arial;
  font-weight: bolder;
  text-align: center ;
  color : #CCFF00;
}

h2, h3, h4 {
  font-size: 28px;
  font-family: arial ;
  text-align: center ;
  color: white;
}

p, ul, ol {
	font-size: 20px;
	text-align: left ;
  color : white ;

}

h5 {
  text-align: center ;
 } 


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #34495e;
}


.menu {
  display: flex;
  justify-content: flex-end;
}

 
.item {
  margin: 10px 30px;
  color: white;
}

 
.item:hover {
  color: #CCFF00;
}


.maps {
  width: 100%;
  display: flex;
  justify-content: center;
}

