style.css


body { 
  font-family: open sans light;
  text-align: center ;
background-color: #34495e ;
}

h1 {
  font-size: 32px;
  font-family: open sans extra bold;
  text-align: center ;
}

h2, h3, h4 {
  font-size: 28px;
  font-family: open sans light;
  text-align: center ;
}

p, ul, ol {
	font-size: 20px;
	text-align: left ;

}

div {
 background: #34495e;
}
